@media (max-width: 768px) {
  .nav-links a {
    margin-left: 1.5rem;
    padding: 0.5rem;
    font-size: 1.7rem;
  }

  .sign-in {
    font-size: 1.7rem;
  }

  .contact {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }

  .contact i {
    font-size: 1.7rem;
    margin-right: 0.5rem;
  }

  .header-title {
    margin-top: -15rem;
  }

  #main-section {
    margin-top: -1rem;
  }

  #main-section h2 {
    font-size: 3rem;
  }

  #main-section p {
    font-size: 2rem;
  }

  .about h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
  }

  .about p {
    font-size: 2rem !important;
  }

  .col {
    margin-left: -1rem;
  }

  .row {
    margin-left: 5rem;
  }

  .row-showcase {
    margin-left: 9rem;
  }

  .box {
    padding-top: 1.5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 20rem;
    height: 15rem;
  }

  .box i {
    margin-bottom: 5rem;
    font-size: 4rem;
  }

  .box h2 {
    margin-top: -2rem;
    padding-bottom: 10rem;
    font-size: 1.2rem;
  }

  .box p {
    margin-top: -7rem;
    margin-bottom: 8rem;
    font-size: 1.5rem;
    padding: 0.5rem 0rem;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card {
    height: 52rem;
    margin-bottom: 5rem;
  }

  .heading-secondary h2 {
    margin-bottom: 5rem;
    margin: auto;
    font-size: 2rem;
  }

  .card__side {
    height: 52rem;
    width: 25rem;
    border-radius: 3px;
  }

  .card__picture {
    height: 16rem;
  }

  .card__heading {
    font-size: 2.5rem;
    width: 75%;
  }

  .card__heading-span {
    padding: 1rem 1.5rem;
  }

  .card__details {
    padding: 3rem;
  }

  .card__details ul {
    width: 80%;
    margin: 0 auto;
  }

  .card__details li {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .card__cta {
    width: 90%;
  }

  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  .card__price-only {
    font-size: 1.2rem;
  }

  .card__price-value {
    font-size: 6rem;
  }
}

@media (max-width: 370px) {
  .logo img {
    width: 70%;
    height: 70%;
    margin-left: -2rem;
  }
  .nav-links a {
    display: flex;
    margin-left: 0.5rem;
    padding: 0.2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .logo img {
    width: 80%;
    height: 80%;
    margin-left: -3rem;
  }
  .nav-links a {
    margin-left: 0.5rem;
    padding: 0.2rem;
    font-size: 1.5rem;
  }

  .sign-in {
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
  }

  .contact {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }

  .contact i {
    display: none;
  }

  .header-title {
    margin-top: -14rem;
  }

  #main-section h2 {
    font-size: 2.2rem;
  }

  #main-section p {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  .section-heading p {
    margin-right: 5rem;
    margin-top: 1rem;
  }

  .about h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
  }

  .about p {
    font-size: 1.2rem !important;
  }

  .img-item1 img {
    margin-left: -20rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
    height: 8rem;
    width: 8rem;
  }

  .img-item2 img {
    margin-top: -20rem;
    height: 8rem;
    width: 8rem;
  }

  .col {
    margin-left: -1rem;
  }

  .col:first-child,
  .col:last-child {
    display: none;
  }

  .box {
    padding-top: 1.5rem;
    width: 20rem;
    height: 15rem;
  }

  .box i {
    margin-bottom: 5rem;
    font-size: 4rem;
  }

  .box h2 {
    margin-top: -2rem;
    padding-bottom: 10rem;
    font-size: 1.2rem;
  }

  .box p {
    margin-top: -7rem;
    margin-bottom: 8rem;
    font-size: 1.5rem;
    padding: 0.5rem 0rem;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .card {
    height: 52rem;
    margin-bottom: 5rem;
    margin-left: -1.1rem;
  }

  .heading-secondary {
    margin-bottom: 5rem;
    margin-right: 2rem;
    font-size: 3rem;
  }

  .card__side {
    height: 52rem;
    width: 25rem;
    border-radius: 3px;
  }

  .card__picture {
    height: 16rem;
  }

  .card__heading {
    font-size: 2.5rem;
    width: 75%;
  }

  .card__heading-span {
    padding: 1rem 1.5rem;
  }

  .card__details {
    padding: 3rem;
  }

  .card__details ul {
    width: 80%;
    margin: 0 auto;
  }

  .card__details li {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .card__cta {
    width: 90%;
  }

  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  .card__price-only {
    font-size: 1.2rem;
  }

  .card__price-value {
    font-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .col {
    height: 90%;
    width: 22rem;
    padding: 1rem;
  }
}
